<a href="https://colab.research.google.com/github/javalmo/MCD2024PROGRAMACION/blob/main/Tarea1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# TIPOS DE DATOS
import copy
x =1
x =[1, 2, 3]
x[1] = 'e'
print (id(x))

133047489355456

In [ ]:
tupla =(4, 10, 6)
print (id(tupla))

tupla2 = copy.deepcopy(tupla)
print (id(tupla2))

tupla2

133047003547712
133047003547712

(4, 10, 6)

In [ ]:
tupla

(4, 10, 6)

In [ ]:
tupla+tupla2

(4, 10, 6, 4, 10, 6)

In [ ]:
def doble(x):
  return 2*x

In [ ]:
print (doble(5))
x=7
print (doble(x))

10
14

In [ ]:
def imprimir(s):
  print(s)

In [ ]:
imprimir('hola')

hola

In [ ]:
arreglo=[1, 2, 3, 4]
nuevo_arreglo = [numero / 2 for numero in arreglo if numero % 2 ==0]
# el "% 2 ==0" indica que el residual es igual a cero es decir el resultado de
# dividir entre dos es entero no decimal
print(nuevo_arreglo)

[1.0, 2.0]

In [ ]:
## EJERCICIO HACER LISTA DE NUMEROS DE (1->n) QUE SEAN DIVISIBLES ENTRE 3 Y 7 Y
## QUE EL ÚLTIMO DIGITO MENOS SIGNIFICATIVO SEA 6 (TERMINEN EN 6)

n = 10_000
lista = range (1,n)

def divisible(x):
    return x % 7 == 0 and x % 3 == 0 and x % 10 == 6

#Comprobabndo que numero si cumple con la división es el 21*6=126, sería el primer valor
print (divisible(126))

True

In [ ]:
#One-liner
[numero for numero in lista if numero % 7 == 0 and numero % 3 == 0 and numero % 10 == 6]

[126,
 336,
 546,
 756,
 966,
 1176,
 1386,
 1596,
 1806,
 2016,
 2226,
 2436,
 2646,
 2856,
 3066,
 3276,
 3486,
 3696,
 3906,
 4116,
 4326,
 4536,
 4746,
 4956,
 5166,
 5376,
 5586,
 5796,
 6006,
 6216,
 6426,
 6636,
 6846,
 7056,
 7266,
 7476,
 7686,
 7896,
 8106,
 8316,
 8526,
 8736,
 8946,
 9156,
 9366,
 9576,
 9786,
 9996]

In [ ]:
##EJERCICIO FUNCIONES

lista = [1,'a',1, 13, 'hola', 'a', 1, 1, 'a', 1, 'hola', 13]

def repetidos(x, imprimeme = True):
  contador={} #LISTA VACIA
  for i in x:
      if i in contador:
        contador[i] = contador [i] + 1
      else:
        contador [i] = 1 #en este caso es el primer valor que lee y agrega uno al contador

  if imprimeme:
      for i in contador:
        print(str(i) + '-'*contador[i]+ ' ' + str(contador[i]/len(x)*100) + '%')

repetidos(lista)

1----- 41.66666666666667%
a--- 25.0%
13-- 16.666666666666664%
hola-- 16.666666666666664%

In [ ]:
## EJERCICIO DICCIONARIOS MODIFICADOS
dic1 = {'Pepe':[12, 'enero', 1980], 'Carolina':[15,'mayo',1975],'Paco':[10,'nov',1970]}

def fundicos(diccionario, llave, indice, nuevo_valor):
    nuevo_diccionario = copy.deepcopy(diccionario)
    nuevo_arreglo = nuevo_diccionario[llave]
    nuevo_arreglo[indice]=nuevo_valor
    return nuevo_diccionario

dic2 = fundicos(dic1, 'Pepe', 1, 'febrero')

print(dic1)
print(dic2)

{'Pepe': [12, 'enero', 1980], 'Carolina': [15, 'mayo', 1975], 'Paco': [10, 'nov', 1970]}
{'Pepe': [12, 'febrero', 1980], 'Carolina': [15, 'mayo', 1975], 'Paco': [10, 'nov', 1970]}

In [ ]:
## EJERCICIO GENERADORES PERMUTACIONES ABCD
from itertools import permutations

lista=['a', 'b', 'c', 'd']

def permutaciones(lista):
  return list(permutations(lista))

p = permutaciones(lista)

print(p)

[('a', 'b', 'c', 'd'), ('a', 'b', 'd', 'c'), ('a', 'c', 'b', 'd'), ('a', 'c', 'd', 'b'), ('a', 'd', 'b', 'c'), ('a', 'd', 'c', 'b'), ('b', 'a', 'c', 'd'), ('b', 'a', 'd', 'c'), ('b', 'c', 'a', 'd'), ('b', 'c', 'd', 'a'), ('b', 'd', 'a', 'c'), ('b', 'd', 'c', 'a'), ('c', 'a', 'b', 'd'), ('c', 'a', 'd', 'b'), ('c', 'b', 'a', 'd'), ('c', 'b', 'd', 'a'), ('c', 'd', 'a', 'b'), ('c', 'd', 'b', 'a'), ('d', 'a', 'b', 'c'), ('d', 'a', 'c', 'b'), ('d', 'b', 'a', 'c'), ('d', 'b', 'c', 'a'), ('d', 'c', 'a', 'b'), ('d', 'c', 'b', 'a')]

In [32]:
## EJERCICIO GENERADORES PERMUTACIONES HORAS VÁLIDAS "HH : MM"
from itertools import permutations

def horas_validas(a, b, c, d):
  digito = [str(a), str(b), str(c), str(d)]
  permutaciones = set(permutations(digito, 4))
  horas = []
  for p in permutaciones:
    hh = int(p[0] + p[1])
    mm = int(p[2] + p[3])
    if 0 <= hh < 24 and 0 <= mm < 60:
      horas.append(str(hh) + ' : ' + str(mm))
  return sorted(horas)

digito = [1, 2, 3, 4]
print(horas_validas(*digito))

['12 : 34', '12 : 43', '13 : 24', '13 : 42', '14 : 23', '14 : 32', '21 : 34', '21 : 43', '23 : 14', '23 : 41']

In [25]:
##EJERCICIO PATRONES

def print_patron(patron, n):
  if n<4:
      print("El tamaño debe ser al menos 4")
      return
  elif patron == 1:
      for i in range(1, n+1):
        print('*' * i)
  elif patron == 2:
      if n % 4 == 0:
        print("Para el patrón ++++, el valor de n debe ser múltiplo de 4")
        return
      for i in range (n):
        print('+' * 4)
  elif patron == 3:
      if n % 2 == 0:
        print("Para el patrón oooooooo, el valor de n debe de ser par.")
        return
      print('o' * n)
      for i in range(1, n//2):
        print('o' * (n//2 - i) + ' ' * (2 * i) + 'o' * (n//2 - i))
      for i in range(n//2 - 1, 0, -1):
        print('o' * (n//2 - i) + ' ' * (2 * i) + 'o' * (n//2 - i))
      print('o' * n)
  else:
    print("El patrón ingresado no es válido, Seleccione 1, 2 o 3.")

print_patron(3,9)
print_patron(1,6)
print_patron(2,7)

ooooooooo
ooo  ooo
oo    oo
o      o
o      o
oo    oo
ooo  ooo
ooooooooo
*
**
***
****
*****
******
++++
++++
++++
++++
++++
++++
++++

In [51]:
##EJERCICIO CLASES PARA MATRICES

class matriz:
  def __init__(self, n = 1, m = None, tipo='cero'):
    self.n = n
    self.m = m if m is not None else m
    self.matriz = self._iniciomatriz(tipo)

  def _iniciomatriz(self, tipo):
    if tipo == 'unos':
      return [[1] * self.m for _ in range(self.n)]
    elif tipo == 'diag':
      return [[1 if i == j else 0 in range(self.m)] for i in range(self.n)]
    else:
      self.m = self.n if self.m is None else self.m
      return [[0] * self.m for _ in range(self.n)]

matriz1=matriz(3)
print(matriz1)

<__main__.matriz object at 0x7f18b4972980>