In [5]:
# TIPOS DE DATOS
import copy
x =1
x =[1, 2, 3]
x[1] = 'e'
print (id(x))

133047489355456

In [16]:
tupla =(4, 10, 6)
print (id(tupla))

tupla2 = copy.deepcopy(tupla)
print (id(tupla2))

tupla2

133047003547712
133047003547712

(4, 10, 6)

In [17]:
tupla

(4, 10, 6)

In [18]:
tupla+tupla2

(4, 10, 6, 4, 10, 6)

In [23]:
def doble(x):
  return 2*x

In [39]:
print (doble(5))
x=7
print (doble(x))

10
14

In [40]:
def imprimir(s):
  print(s)

In [41]:
imprimir('hola')

hola

In [44]:
arreglo=[1, 2, 3, 4]
nuevo_arreglo = [numero / 2 for numero in arreglo if numero % 2 ==0]
# el "% 2 ==0" indica que el residual es igual a cero es decir el resultado de
# dividir entre dos es entero no decimal
print(nuevo_arreglo)

[1.0, 2.0]

In [46]:
## EJERCICIO HACER LISTA DE NUMEROS DE (1->n) QUE SEAN DIVISIBLES ENTRE 3 Y 7 Y
## QUE EL ÚLTIMO DIGITO MENOS SIGNIFICATIVO SEA 6 (TERMINEN EN 6)

n = 10_000
lista = range (1,n)

def divisible(x):
    return x % 7 == 0 and x % 3 == 0 and x % 10 == 6

#Comprobabndo que numero si cumple con la división es el 21*6=126, sería el primer valor
print (divisible(126))

True

In [47]:
#One-liner
[numero for numero in lista if numero % 7 == 0 and numero % 3 == 0 and numero % 10 == 6]

[126,
 336,
 546,
 756,
 966,
 1176,
 1386,
 1596,
 1806,
 2016,
 2226,
 2436,
 2646,
 2856,
 3066,
 3276,
 3486,
 3696,
 3906,
 4116,
 4326,
 4536,
 4746,
 4956,
 5166,
 5376,
 5586,
 5796,
 6006,
 6216,
 6426,
 6636,
 6846,
 7056,
 7266,
 7476,
 7686,
 7896,
 8106,
 8316,
 8526,
 8736,
 8946,
 9156,
 9366,
 9576,
 9786,
 9996]

In [54]:
##EJERCICIO FUNCIONES

lista = [1,'a',1, 13, 'hola', 'a', 1, 1, 'a', 1, 'hola', 13]

def repetidos(x, imprimeme = True):
  contador={} #LISTA VACIA
  for i in x:
      if i in contador:
        contador[i] = contador [i] + 1
      else:
        contador [i] = 1 #en este caso es el primer valor que lee y agrega uno al contador

  if imprimeme:
      for i in contador:
        print(str(i) + '-'*contador[i]+ ' ' + str(contador[i]/len(x)*100) + '%')

repetidos(lista)

1----- 41.66666666666667%
a--- 25.0%
13-- 16.666666666666664%
hola-- 16.666666666666664%

In [57]:
## EJERCICIO DICCIONARIOS MODIFICADOS
dic1 = {'Pepe':[12, 'enero', 1980], 'Carolina':[15,'mayo',1975],'Paco':[10,'nov',1970]}

def fundicos(diccionario, llave, indice, nuevo_valor):
    nuevo_diccionario = copy.deepcopy(diccionario)
    nuevo_arreglo = nuevo_diccionario[llave]
    nuevo_arreglo[indice]=nuevo_valor
    return nuevo_diccionario

dic2 = fundicos(dic1, 'Pepe', 1, 'febrero')

print(dic1)
print(dic2)

{'Pepe': [12, 'enero', 1980], 'Carolina': [15, 'mayo', 1975], 'Paco': [10, 'nov', 1970]}
{'Pepe': [12, 'febrero', 1980], 'Carolina': [15, 'mayo', 1975], 'Paco': [10, 'nov', 1970]}

In [ ]:
## EJERCICIO GENERADORES